<div class="charts-wrapper" *ngIf="!loading && !error">
  
  <div class="chart-card">
    <h2 class="chart-title">
      {{ 'dashboard.opening' | translate }}
    </h2>

    <div class="chart-container">
      <canvas baseChart [data]="openChartData" [type]="openChartType" [options]="barChartOptions">
      </canvas>

    </div>
  </div>

  <div class="chart-card" *ngIf="closeChartData.datasets.length">
    <h2 class="chart-title">
      {{ 'dashboard.closing' | translate }}
    </h2>

    <div class="chart-container">
      <canvas 
        baseChart [data]="closeChartData" 
        [type]="closeChartType"
        [options]="lineChartOptions"
        >
      </canvas>
    </div>
  </div>

</div>