<div class="login-page">

  <!-- LEFT SIDE -->
  <div class="login-left">
    <h1>Ticket Manager</h1>
    <p>
      Gestisci i tuoi ticket in modo semplice e veloce.
    </p>
  </div>

  <!-- RIGHT SIDE -->
  <div class="login-right">

    <mat-card class="login-card">

      <div class="header">
        <h2>{{'login.title' | translate}}</h2>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'login.email' | translate}}</mat-label>

          <input matInput [(ngModel)]="email" name="email" #emailCtrl="ngModel" required email>

          <mat-error *ngIf="emailCtrl.invalid && emailCtrl.touched">
            <span *ngIf="emailCtrl.errors?.['required']">
              {{'login.emailRequired' | translate}}
            </span>
            <span *ngIf="emailCtrl.errors?.['email']">
              {{'login.emailInvalid' | translate}}
            </span>
          </mat-error>
        </mat-form-field>


        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'login.password' | translate}}</mat-label>

          <input matInput type="password" [(ngModel)]="password" name="password" #passwordCtrl="ngModel" required
            minlength="8">

          <mat-error *ngIf="passwordCtrl.invalid && passwordCtrl.touched">
            <span *ngIf="passwordCtrl.errors?.['required']">
              {{ 'login.passwordRequired' | translate }}
            </span>
            <span *ngIf="passwordCtrl.errors?.['minlength']">
              {{ 'login.passwordMin' | translate }}
            </span>
          </mat-error>
        </mat-form-field>

        <div *ngIf="errorMessage" class="login-error">
          {{ errorMessage | translate }}
        </div>

        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">
          {{ 'login.submit' | translate }}
        </button>

      </form>

    </mat-card>

  </div>

</div>