<mat-toolbar color="primary" class="toolbar">

  <div class="left">
    <img src="img/logo.png" class="logo" routerLink="/" alt="logo">
  </div>


  <div class="nav" *ngIf="isLoggedIn">

    <a routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>

    <a routerLink="/tickets" routerLinkActive="active">
      <mat-icon>confirmation_number</mat-icon>
      <span>Tickets</span>
    </a>

  </div>

  <span class="spacer"></span>

  <!-- RIGHT: Actions -->
  <div class="right">
    <!-- NOTIFICATIONS -->
    <button mat-icon-button class="icon-btn" [matBadge]="notificationsCount" matBadgeColor="warn"
      [matBadgeHidden]="notificationsCount === 0" [matMenuTriggerFor]="notificationMenu" (click)="openNotifications()">
      <mat-icon>notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu" xPosition="before">

      <div class="notif-menu">

        <div class="notif-header">
          {{ 'label.notif' | translate }}
        </div>

        <div class="notif-item" *ngFor="let n of notifications" (click)="goToTicket(n.id)">

          <div class="notif-icon">
            <mat-icon>confirmation_number</mat-icon>
          </div>

          <div class="notif-content">
            <div class="notif-subject">
              {{ n.subject }}
            </div>

            <div class="notif-meta">
              {{ n.userEmail }}
            </div>
          </div>

        </div>

        <div *ngIf="notifications.length === 0" class="empty">
          {{ 'label.notif-empty' | translate }}
        </div>

      </div>

    </mat-menu>

    <!-- USER CHIP -->
    <div class="user-chip" [matMenuTriggerFor]="userMenu">
      <mat-icon class="avatar" *ngIf="!isAdmin">account_circle</mat-icon>
      <mat-icon *ngIf="isAdmin">badge</mat-icon>
      <span class="username">{{ currentUserName }}</span>
      <mat-icon class="chevron">expand_more</mat-icon>
    </div>

    <mat-menu #userMenu="matMenu" class="user-menu" xPosition="before" yPosition="below">

      <div class="menu-content">

        <!-- LANGUAGE SWITCH -->
        <div class="menu-section">

          <div class="menu-action" [class.active]="currentLang === 'it'" (click)="switchLanguage('it')">
            <span>🇮🇹</span>
            <span>Italiano</span>
          </div>

          <div class="menu-action" [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">
            <span>🇬🇧</span>
            <span>English</span>
          </div>

        </div>

        <div class="divider"></div>

        <!-- LOGOUT -->
        <div class="menu-action logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </div>

      </div>

    </mat-menu>


  </div>

</mat-toolbar>

<div class="page">
  <router-outlet></router-outlet>
</div>