/* === PAGINA === */
.detail-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto; 
  align-items: center;
}

/* BLOCCO SINISTRA */
.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* BLOCCO DESTRA */
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.center {
  display: flex;
  justify-content: center;
}


.title {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 0;
  font-size: 20px;
  font-weight: 600;
}


.ticket-id {
  color: #1976d2;
  font-weight: 600;
  margin-right: 6px;
}

.description {
  padding: 16px;
  border-radius: 10px;

  background: #ffffff;
  border: 1px solid #eef1f5;

  font-size: 14px;
  line-height: 1.5;
}

/* =========================
   RISOLUZIONE
   ========================= */

.resolution {
  padding: 16px;
  border-radius: 10px;

  background: #ffffff;
  border: 1px solid #eef1f5;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* textarea */
.full-width {
  width: 100%;
}

/* azioni sotto textarea */
.resolution-actions {
  display: flex;
  justify-content: flex-end;
}

/* =========================
   BOTTONI
   ========================= */

button[mat-raised-button] {
  min-width: 140px;
}

/* =========================
   BACK BUTTON
   ========================= */

button[mat-stroked-button] {
  align-self: flex-start;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 13px;
  margin-bottom: 10px;
}

/* link */
.breadcrumb a {
  text-decoration: none;
  color: #1976d2;
  font-weight: 500;
}

/* hover */
.breadcrumb a:hover {
  text-decoration: underline;
}

/* separatore */
.separator {
  color: #999;
}

/* elemento corrente */
.current {
  color: #666;
}

.priority {
  transition: all 0.2s ease;
}

.priority.clickable:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.priority-menu-content button {
  display: flex;
  align-items: center;

  justify-content: flex-end;

  gap: 8px;

  padding: 10px 12px;
  text-transform: none;
  font-size: 14px;
}
